{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var favourites = {{ favourite_service.favourites|json_encode }};
    </script>
    <script src="{{ asset('js/favourite.js') }}" async></script>
{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="float-right btn btn-success" href="{{ path('reference_new') }}"><i class="fas fa-plus"></i> Add Reference</a>
    {% endif %}

    <h2>References</h2>
    <br />
    {% include "reference/listing.html.twig" %}

{% endblock %}
