{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="float-right btn btn-success" href="{{ path('reference_new') }}"><i class="fas fa-plus"></i> Add Reference</a>
    {% endif %}

    <h2>References</h2>
    <br />
    {% include "reference/listing.html.twig" %}

{% endblock %}
