.header {

  padding:10px 0 0 0;
  a, h1 {
    color:#000000;
    text-decoration: none;
  }
}

a {
  word-break: break-word;
}
.nav-area {
  background-color:#0066ff;
  margin-bottom: 20px;

  a, h1 {
    color:#FFFFFF;
    text-decoration: none;
  }
}

.bootstrap-tagsinput {
  .twitter-typeahead {
    min-width: 200px;
    .tt-input {
      color:#999999;
    }
  }
}

.scrollable-dropdown-menu .tt-menu {
  width:100%;
  max-height: 200px;
  overflow-y: auto;
}

.form-group > .scrollable-dropdown-menu > .twitter-typeahead {
  display:block !important;
}

.bootstrap-tagsinput input {
  padding:0;
}

pre.wordbib {
  font-family: "Times New Roman", Times, serif;
  font-size: 9pt;
  font-style: normal;
  text-align: justify;
  text-decoration: none;
  margin-bottom:0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.latex-ref {
  font-family: monospace;
  padding: 1.25rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding-top:0;
  padding-bottom:0;
  .active {
    .nav-link {
      background-color:#FFFFFF;
      color:#0066ff;
    }
  }
  .navbar-nav { .nav-link { padding: 10px 20px; } }

}
.navbar-toggler {
  font-size:28px;
}

.navbar-toggler {
  color:#FFFFFF;
}

#results {
  margin-top:0;
  li {
    margin:10px 0 20px 0;
  }
}


@media (max-width: 991px) {

  .navbar-collapse.show {
    display:block;
  }
  .navbar-collapsing {
    display:block;
  }
}
.navbar-expand-lg {
  margin:0 -16px;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("../fonts/liberation-mono.ttf.woff") format('woff');
}

a.favourite {
  color:#000;
  &.active, &:hover {
    i { font-weight:900; }
  }
  &.active {
    color:gold;
    i {
      text-shadow: 1px 1px #000000;
    }
  }
  &.active:hover {
    i { font-weight:400; }
  }
}

#results {
  padding-left:0;
  li {
    display:flex;
    list-style: none;
    a.favourite {
      padding: 0 10px;
    }
    a.item {


    }
  }
}

.search-form {
  .form-group {
    margin-bottom:0;
  }

  .search-button {
    margin-bottom:0px;
  }
}
.partnership {
  text-align: center;
  margin-top:50px;
  font-size:80%;
  margin-bottom:10px;
  .break {
    display:none;
  }
  img {
    margin:15px;
  }
}

@media only screen and (max-width: 575px) {
  .results-section {
    padding-top:30px;
  }
}
@media only screen and (max-width: 780px) {
  .partnership {
    .break {
      display:block;
    }
  }
}