{{ form_start(search) }}
<div class="search-form row">
    <div class="col">
        {{ form_widget(search) }}
    </div>
    <div class="col align-self-end search-button">
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
</div>
{{ form_end(search) }}